<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="org.springframework.test.context" level="WARN"/>
    <logger name="org.springframework.boot.test.context" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLogger" level="WARN"/>
    <logger name="org.springframework.boot.SpringApplication" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="WARN"/>
    <logger name="org.springdoc.core.events.SpringDocAppInitializer" level="ERROR"/>
    <logger name="net.creft.lmm.exception.GlobalExceptionHandler" level="OFF"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
